<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>The Home Page <%= 4 + 2 + 1%></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi laudantium mollitia ut libero sint quisquam, maxime quo,
             sed vel repellat eum ab id suscipit velit, ipsa consectetur iste perspiciatis?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sed cumque sapiente?
            Ipsam sint eum quia maxime voluptatibus quo nesciunt! Eum, aliquam. Nam perferendis amet minima placeat corrupti odio perspiciatis.
        </p>
</body>
</html>