img{
	
	width: 30%;  
	float: left; 
	/*float takes out flow of document. We got rid of white spacing which browser adder for uss*/
	/* 10/6= 1.66 */
	margin: 1.66%;
	

	/* kuvien skaalaus, (todo)palaa tähän kun osaat luoda toiminnon jolla avataan kuva isommaksi.
	https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css 
	height: 300px;
	position: relative;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    */
} 

p{
	font-family: 'Gloria Hallelujah', cursive;
	margin-left: 1.66%;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 96.3%;
	padding-bottom: 20px;
}