h1 {
    /* text-align:center; */
    /* font-weight:100;
    font-size: 40px;
    font-family: monospace;
    text-decoration: underline wavy plum;
    letter-spacing: 20px;
    text-transform: uppercase; */
}