p{
	/* Content - Width and Height */
	/* 50% of the parent object, this case he body. ALso its scalable*/
	width:  50%;
	/* Border*/

	border: 2px solid blue;

	/*Padding*/
	/*padding: 10px;*/
	padding-left: 50px;
	/* Margin*/
	/*margin: 20px 40px 600px 100px;*/
	margin: 0 auto 0 auto; 
	/* auto centers our elements */
	margin: 50px 20px;
	/* 50px top and bottom. left and right is 20px*/
}

